.recommendBox {
  display: flex;
  flex-direction: column;
  padding: 4px;
}
.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.userRecommendName {
  font-weight: bold;
  /* font-size: 20px; */
  color: #333;
  margin-bottom: 10px;
}
