.leftBox {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 600px;
  border-right: 1px solid #ccc;
  padding: 0 20px;
}

.myProductsListBox {
  display: flex;
  flex-direction: column;
  height: 300px;
}

.myInfoListBox {
  display: flex;
  flex-direction: column;
  height: 300px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.myProductsTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #f1f1f1;
}

.myProductsList {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-evenly;
}

.rightBox {
  display: flex;
  flex-direction: column;
  width: 860px;
  height: 600px;
  padding: 0 50px;
}

.myShopBox {
  display: flex;
  flex-direction: column;
}

.myShopTitleBox {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.myShopTitleText {
  font-size: 20px;
}
.myShopStarBox {
  width: 120px;
  height: 30px;
  background-color: #f9f9f9;
  margin-left: 20px;
  display: flex;
  justify-content: center;
}

.myShopStars {
  display: flex;
  align-items: center;
}

.rating {
  display: inline-block;
  direction: rtl;
  unicode-bidi: bidi-override;
}

.star {
  color: gold;
  font-size: 1.2rem;
}

.myShopInfoBox {
  width: 800px;
  height: 200px;
  display: flex;
  padding: 20px 0;
  border: 1px solid #f1f1f1;
}

.myShopImg {
  width: 200px;
  height: 200px;
  padding: 0 40px;
  border-right: 1px solid #f1f1f1;
}

.myShopInfoText {
  width: 100%;
  padding: 40px;
}

.textArea {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  outline: none;
  font-family: "Pretendard-Regular";
  font-size: 16px;
  color: #333;
}
.textAreaEditing {
  background-color: #f1f1f1;
}
.editImg {
  width: 20px;
  height: 20px;
  margin-top: 180px;
  margin-right: 20px;
}
